{% extends 'home/en/index-transparent.html' %}
{% load static %}

{% block content %}  
  <main class="main-content">
    <!--== Start Hero Area Wrapper ==-->
    <section class="home-slider-area">
      <div class="home-slider-container default-slider-container">
        <div class="home-slider-wrapper slider-default">
          <div class="slider-content-area" data-bg-img="{% static 'images/covers/cover2.jpg' %}" style="position: relative; z-index: -1;">
            <div class="container pt--0 pb--0">
              <div class="slider-container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-lg-8">
                    <div class="slider-content">
                      <!-- <h2 class="title"><span class="counter" data-counterup-delay="80">55</span> jobs available <br>You can choose your dream job</h2> -->
                      <h2 class="title" style="font-size: 4rem;">We Help You to Grow Your Business Quickly</h2>
                      <p class="desc">Hired More Than 20,000 Saudi Employees, Trained More Than 5,000.</p>
                    </div>
                  </div>
                  <!-- <div class="col-12">
                    <div class="job-search-wrap">
                      <div class="job-search-form">
                        <form action="#">
                          <div class="row row-gutter-10">
                            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Job title or keywords">
                              </div>
                            </div>
                            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                              <div class="form-group">
                                <select class="form-control">
                                  <option value="1" selected>Choose City</option>
                                  <option value="2">New York</option>
                                  <option value="3">California</option>
                                  <option value="4">Illinois</option>
                                  <option value="5">Texas</option>
                                  <option value="6">Florida</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                              <div class="form-group">
                                <select class="form-control">
                                  <option value="1" selected>Category</option>
                                  <option value="2">Web Designer</option>
                                  <option value="3">Web Developer</option>
                                  <option value="4">Graphic Designer</option>
                                  <option value="5">App Developer</option>
                                  <option value="6">UI &amp; UX Expert</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
                              <div class="form-group">
                                <button type="button" class="btn-form-search"><i class="icofont-search-1"></i></button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="play-video-btn">
              <a href="https://www.youtube.com/watch?v=Ig107Fc34Js" class="video-popup">
                <img src="{% static '/home/img/icons/play.png' %}" alt="Image-HasTech">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="home-slider-shape">
        <img class="shape1" data-aos="fade-down" data-aos-duration="1500" src="{% static '/home/img/slider/vector1.png' %}" width="270" height="234" alt="Image-HasTech">
        <img class="shape2" data-aos="fade-left" data-aos-duration="2000" src="{% static '/home/img/slider/vector2.png' %}" width="201" height="346" alt="Image-HasTech">
        <img class="shape3" data-aos="fade-right" data-aos-duration="2000" src="{% static '/home/img/slider/vector3.png' %}" width="276" height="432" alt="Image-HasTech">
        <img class="shape4" data-aos="flip-left" data-aos-duration="1500" src="{% static '/home/img/slider/vector4.png' %}" width="127" height="121" alt="Image-HasTech">
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-default-wrapper">
      <div class="container">
        <div class="about-item">
          <div class="row">
            <div class="col-md-6 col-lg-2 d-none d-lg-block">
              <div class="about-thumb" data-aos="fade-down" data-aos-duration="1000">
                <img src="{% static '/home/img/photos/2.png' %}" alt="Image-HasTech">
              </div>
              <div class="about-thumb my-5" data-aos="fade-down" data-aos-duration="1000">
                <img src="{% static '/home/img/photos/6.png' %}" alt="Image-HasTech">
              </div>
              <div class="about-thumb" data-aos="fade-down" data-aos-duration="1000">
                <img src="{% static '/home/img/photos/1.png' %}" alt="Image-HasTech">
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="about-thumb about-thumb-two" data-aos="fade-down" data-aos-duration="1200">
                <img src="{% static '/home/img/photos/4.jpg' %}" alt="Image-HasTech">
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-4">// Why Choose Us?</h4>
                <h3 class="title">We Have The Ability To Rapidly Grow Your Business.</h3>
                <p class="desc">You can confidently achieve your work with us in record time, as we provide our services through a distinguished workplace located in a strategic location in the heart of Riyadh. It is designed to empower your operations and equipped with the latest technologies, managed by an exceptional team of experienced professionals within an ideal working environment.</p>
                <div class="member-join-content" data-aos="fade-right" data-aos-duration="1200">
                  <div class="member-join-thumb">
                    <ul>
                      <li>
                        <a href="candidate-details.html">
                          <img src="{% static '/home/img/photos/profile-1.jpg' %}" width="50" height="50" alt="Image-HasTech">
                        </a>
                      </li>
                      <li>
                        <a href="candidate-details.html">
                          <img src="{% static '/home/img/photos/profile-2.jpg' %}" width="50" height="50" alt="Image-HasTech">
                        </a>
                      </li>
                      <li>
                        <a href="candidate-details.html">
                          <img src="{% static '/home/img/photos/profile-8.jpg' %}" width="50" height="50" alt="Image-HasTech">
                        </a>
                      </li>
                      <li>
                        <a href="candidate-details.html">
                          <img src="{% static '/home/img/photos/profile-4.jpg' %}" width="50" height="50" alt="Image-HasTech">
                        </a>
                      </li>
                      <li>
                        <a href="candidate-details.html">
                          <img src="{% static '/home/img/photos/profile-6.jpg' %}" width="50" height="50" alt="Image-HasTech">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="member-join-btn">
                    <a class="join-now-btn" href="{% url 'contact' %}">Find Candidates</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Recent Job Area Wrapper ==-->
    <section class="recent-job-area bg-color-gray py-5">
      <div class="px-5 py-5" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title">Our Services</h3>
              <div class="desc">
                <p>Many desktop publishing packages and web page editors</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex">
            <!--== Start Recent Job Item ==-->
            <img src="{% static '/home/img/photos/service1.png' %}">
            <!--== End Recent Job Item ==-->
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
            <!--== Start Recent Job Item ==-->
            <img src="{% static '/home/img/photos/service2.png' %}">
            <!--== End Recent Job Item ==-->
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
            <!--== Start Recent Job Item ==-->
            <img src="{% static '/home/img/photos/service3.png' %}">
            <!--== End Recent Job Item ==-->
          </div>
          <div class="col-md-6 col-lg-3 d-flex">
            <!--== Start Recent Job Item ==-->
            <img src="{% static '/home/img/photos/service4.png' %}">
            <!--== End Recent Job Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Recent Job Area Wrapper ==-->


    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-default-wrapper py-5">
      <div class="container py-5">
        <div class="about-item">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="about-content" data-aos="fade-down" data-aos-duration="1000">
                <h4 class="sub-title mt-lg-4">We have 19+ Years of Business Experiences</h4>
                <h3 class="title">We Are A Trusted Partner for High-Quality Solutions</h3>
                <p class="desc">Since 2004, Excellent Solutions Company has been consistently providing high-quality services to its clients through an exceptional team and experts and our compliance to quality standards ISO 9001. We take pride in our continuous commitment to transparency and understanding our clients' needs and challenges, achieving outstanding results with a track record of accomplishments. Our ability to deliver high-quality solutions tailored to contribute in the success of our Clients’ operations, and help them achieve their goals.</p>
                <div class="member-join-content" data-aos="fade-right" data-aos-duration="1200">
                  <p>Providing multiple support services that will add high values to the different business sectors addressed in Vision 2030.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 d-none d-lg-block">
              <div class="about-thumb" data-aos="fade-down" data-aos-duration="1000">
                <img src="{% static '/home/img/photos/11.png' %}" alt="Image-HasTech">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Recent Job Area Wrapper ==-->
    <section class="recent-job-area bg-color-gray py-5">
      <div class="container py-5" data-aos="fade-down">
        <div class="row text-center">
          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="recent-job-item p-3" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <h3 class="title">Vision</h3>
                <p class="desc">To be the preferred solutions provider for local and regional customers.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="recent-job-item p-3" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <h3 class="title">Mission</h3>
                <p class="desc">Provide quality solutions that will add value, reduce cost, grow revenue, and satisfy our clients.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="recent-job-item p-3" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <h3 class="title">Goals</h3>
                <p class="desc" class="desc">ES is committed to Delivering excellent quality in all its services that add value to its customers.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="recent-job-item p-3" data-aos="fade-right" data-aos-duration="1200">
              <div class="main-content">
                <h3 class="title">Values</h3>
                <p class="desc">Customer Focus | Integrity | Innovation | Teamwork</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Recent Job Area Wrapper ==-->


    <!--== Start Job Category Area Wrapper ==-->
    <section class="job-category-area py-5">
      <div class="container py-5" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title">Popular Specialties</h3>
              <div class="desc">
                <p>Many desktop publishing packages and web page editors</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-gutter-20" >
          {% for specialization in specializations %}
          <div class="col-sm-6 col-lg-3">
            <!--== Start Job Category Item ==-->
            <div class="job-category-item">
              <div class="content">
                <h3 class="title text-center" style="text-transform: capitalize;"><a>{{specialization.english_name}}</a></h3>
              </div>
              <a class="overlay-link"></a>
            </div>
            <!--== End Job Category Item ==-->
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--== End Job Category Area Wrapper ==-->

    <!--== Start Funfact Area Wrapper ==-->
    <section class="funfact-area bg-color-gray">
      <div class="container">
        <div class="row no-gutter">
          <div class="col-12">
            <div class="funfact-content-wrap">
              <div class="funfact-col">
                <!--== Start Funfact Item ==-->
                <div class="funfact-item" data-aos="fade-down">
                  <h2 class="counter-number"><span class="counter" data-counterup-delay="50">5689</span></h2>
                  <h6 class="counter-title">Total Jobs</h6>
                </div>
                <!--== End Funfact Item ==-->
              </div>
              <div class="funfact-col">
                <!--== Start Funfact Item ==-->
                <div class="funfact-item" data-aos="fade-down" data-aos-duration="1500">
                  <h2 class="counter-number"><span class="counter" data-counterup-delay="50">8567</span></h2>
                  <h6 class="counter-title">Candidates</h6>
                </div>
                <!--== End Funfact Item ==-->
              </div>
              <div class="funfact-col">
                <!--== Start Funfact Item ==-->
                <div class="funfact-item" data-aos="fade-down" data-aos-duration="1700">
                  <h2 class="counter-number"><span class="counter" data-counterup-delay="50">7457</span></h2>
                  <h6 class="counter-title">Resume</h6>
                </div>
                <!--== End Funfact Item ==-->
              </div>
              <div class="funfact-col">
                <!--== Start Funfact Item ==-->
                <div class="funfact-item" data-aos="fade-down" data-aos-duration="1900">
                  <h2 class="counter-number"><span class="counter" data-counterup-delay="50">6483</span></h2>
                  <h6 class="counter-title">Compnay’s</h6>
                </div>
                <!--== End Funfact Item ==-->
              </div>
              <div class="funfact-col">
                <!--== Start Funfact Item ==-->
                <div class="funfact-item" data-aos="fade-down" data-aos-duration="2200">
                  <h2 class="counter-number"><span class="counter" data-counterup-delay="50">358</span></h2>
                  <h6 class="counter-title">Country’s</h6>
                </div>
                <!--== End Funfact Item ==-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Funfact Area Wrapper ==-->

    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="brand-logo-area py-5">
      <div class="container pt--0 pb--0 my-5" data-aos="fade-down">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h3 class="title my2">Our Partners</h3>
              <div class="desc">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="brand-logo-content p-0 mb-5" style="border: none;">
              <div class="swiper brand-logo-slider-container">
                <div class="swiper-wrapper">
                  {% for partner in all_partners %}
                  <div class="swiper-slide">
                    <!--== Start Brand Logo Item ==-->
                    <div class="brand-logo-item">
                      <img src="{{partner.logo}}" alt="{{partner.english_name}} - logo">
                    </div>
                    <!--== End Brand Logo Item ==-->
                  </div>
                  {% endfor %}
                </div>
              </div>
              <!--== Add Swiper Arrows ==-->
              <div class="swiper-btn-wrap">
                <div class="brand-swiper-btn-prev">
                  <i class="icofont-long-arrow-left"></i>
                </div>
                <div class="brand-swiper-btn-next">
                  <i class="icofont-long-arrow-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->


    <!--== Start Brand Logo Area Wrapper ==-->
    <div class="brand-logo-area">
      <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7248.776611750044!2d46.672191007218!3d24.713545903890303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f02d2ecd7ef3d%3A0x3229445b2ecfbed9!2sExcellent%20Solutions%20Co.!5e0!3m2!1sen!2ssa!4v1705774841738!5m2!1sen!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <!--== End Brand Logo Area Wrapper ==-->
  </main>
{% endblock %}

