{% extends 'employer/en/index.html' %}
{% load static %}

{% block style %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
	<div id="wrapper">
		<div class="main-content">
			<div class="row small-spacing">
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="box-content bg-success text-white">
						<div class="statistics-box with-icon">
							<i class="ico small fa fa-check"></i>
							<p class="text text-white">ACTIVE CLIENTS</p>
							<h2 class="counter">{{active_clients_count}}</h2>
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-md-6 col-xs-12 -->
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="box-content bg-info text-white">
						<div class="statistics-box with-icon">
							<i class="ico small fa fa-group"></i>
							<p class="text text-white">JOBS' APPLIES</p>
							<h2 class="counter">{{clients_applied_count}}</h2>
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-md-6 col-xs-12 -->
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="box-content bg-danger text-white">
						<div class="statistics-box with-icon">
							<i class="ico small fa fa-user-times"></i>
							<p class="text text-white">INACTIVE CLIENTS</p>
							<h2 class="counter">{{inactive_clients_count}}</h2>
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-md-6 col-xs-12 -->
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="box-content bg-warning text-white">
						<div class="statistics-box with-icon">
							<i class="ico small fa fa-briefcase"></i>
							<p class="text text-white">AVAILABLE JOBS</p>
							<h2 class="counter">{{jobs_count}}</h2>
						</div>
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-3 col-md-6 col-xs-12 -->
			</div>
			<!-- .row -->
			<!-- <div class="row small-spacing">

				<div class="col-sm-6 col-lg-3 col-xs-12">
					<div class="box-content">
						<h4 class="box-title text-success">Available Jobs</h4>
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<div class="content widget-stat">
							<div id="AvailableJobs" class="left-content margin-top-10"></div>
							<div class="right-content">
								<h2 class="counter text-success">{{jobs_count}} <i class="fa fa-briefcase"></i></h2>
								<p class="text text-success">Jobs</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 col-xs-12">
					<div class="box-content">
						<h4 class="box-title text-info">Jobs Applies</h4>
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<div class="content widget-stat">
							<div id="JobsApplies" class="left-content margin-top-15"></div>
							<div class="right-content">
								<h2 class="counter text-info">{{clients_applied_count}} <i class="fa fa-group"></i></h2>
								<p class="text text-info">Clients Applied</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 col-xs-12">
					<div class="box-content">
						<h4 class="box-title text-success">Active Clients</h4>
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<div class="content widget-stat">
							<div id="ActiveClients" class="left-content margin-top-10"></div>
							<div class="right-content">
								<h2 class="counter text-success">{{active_clients_count}} <i class="fa fa-check-circle"></i></h2>
								<p class="text text-success">Clients</p>
							</div>
						</div>
					</div>
				</div>

				

				<div class="col-sm-6 col-lg-3 col-xs-12">
					<div class="box-content">
						<h4 class="box-title text-orange">Inactive Clients</h4>
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<div class="content widget-stat">
							<div id="InactiveClients" class="left-content"></div>
							<div class="right-content">
								<h2 class="counter text-orange">{{inactive_clients_count}} <i class="fa fa-user-times"></i></h2>
								<p class="text text-orange">Inactive Clients</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!-- .row -->
			<div class="row small-spacing">
				<div class="col-lg-6 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">Jobs' Applies</h4>
						<!-- /.box-title -->
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<!-- /.sub-menu -->
						</div>
						<!-- /.dropdown js__dropdown -->
						<canvas id="MonthJobsApplies" class="chart--container">
					    </canvas>
						<!-- /#bar-chartjs-chart.chartjs-chart -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-xs-12 -->
				<div class="col-lg-6 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">New Users</h4>
						<!-- /.box-title -->
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<!-- /.sub-menu -->
						</div>
						<!-- /.dropdown js__dropdown -->
						<canvas id="NewUsers" class="chart--container">
					    </canvas>
						<!-- /#donut-chartjs-chart.chartjs-chart -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-xs-12 -->
				<div class="col-lg-4 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">Nationalities</h4>
						<!-- /.box-title -->
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<!-- /.sub-menu -->
						</div>
						<!-- /.dropdown js__dropdown -->
						<canvas id="Nationalities" class="chart--container">
					    </canvas>
						<!-- /#donut-chartjs-chart.chartjs-chart -->
					</div>
					<!-- /.box-content -->
				</div>

				<div class="col-lg-8 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">New Resumes</h4>
						<!-- /.box-title -->
						<div class="dropdown js__drop_down">
							<a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
							<ul class="sub-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else there</a></li>
								<li class="split"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
							<!-- /.sub-menu -->
						</div>
						<!-- /.dropdown js__dropdown -->
						<canvas id="InActiveClients" class="chart--container">
					    </canvas>
						<!-- /#donut-chartjs-chart.chartjs-chart -->
					</div>
					<!-- /.box-content -->
				</div>
			</div>
			<!-- .row -->
			

			<div class="row small-spacing">		
				<div class="col-lg-6 col-xs-12">
					<div class="box-content">
						<h4 class="box-title mt-3"><i class="mdi mdi-email"></i> Recent Sent Mails</h4>
						<!-- /.box-title -->
						<table class="table table-striped margin-bottom-10 table-purchases">
							<thead>
								<tr>
									<th style="width:5%;"></th>
									<th style="width:40%;">Receiver</th>
									<!-- <th>Title</th> -->
									<th>Title</th>
									<th>Date</th>
									
								</tr>
							</thead>
							<tbody>
								{% for mail in sent_mails %}
								<tr onclick="window.location='{% url 'read_sent_mail' mail.mail_id %}';">
									<td><i class="fa fa-envelope"></i></td>
									<td>{{mail.receiver.first_name}} {{mail.receiver.last_name}}</td>
									<td>{{mail.title}}</td>
									<td>{{mail.date_sent}}</td>
									<!-- <td class="text-success">Active</td> -->
									
								</tr>
								{% endfor %}
								<tr>
									<td></td>
									<td>...</td>
									<td>...</td>
									<td>...</td>
									
								</tr>

							</tbody>

						</table>
						<div class="row"><a href="{% url 'sent_mails' %}" class="btn btn-secondary text-dark mx-auto col-6">View all mails <i class="fa fa-angle-down"></i></a></div>
						<!-- /.table -->
					</div>
					<!-- /.box-content -->
				</div>	
				<!-- /.col-lg-6 col-xs-12 -->
				<div class="col-lg-6 col-xs-12">
					<div class="box-content">
						<h4 class="box-title mt-3"><i class="mdi mdi-briefcase"></i> Jobs' Applies</h4>
						<!-- /.box-title -->
						<table class="table table-striped margin-bottom-10 table-purchases">
							<thead>
								<tr>
									<th style="width:40%;">Client</th>
									<th>Job</th>
									<th>Date</th>
									<th>State</th>
									<!-- <th style="width:5%;"></th> -->
								</tr>
							</thead>
							<tbody>
								{% for client in clients_applied %}
								<tr>
									<td><a class="text-dark" href="{% url 'active_client_profile' client.client_id %}">{{client.client.first_name}} {{client.client.last_name}}</a></td>
									<td><a class="text-dark" href="{% url 'job_details' client.job_id %}">{{client.job}}</a></td>
									<td>{{client.date}}</td>
									<td class="text-success">Active</td>
									<!-- <td><a href="#"><i class="fa fa-plus-circle"></i></a></td> -->
								</tr>
								{% endfor %}
								<tr>
									<td>...</td>
									<td>...</td>
									<td>...</td>
									<td>...</td>
									<!-- <td><a href="#"><i class="fa fa-plus-circle"></i></a></td> -->
								</tr>

							</tbody>

						</table>
						<div class="row"><a href="{% url 'clients_applied' %}" class="btn btn-secondary text-dark mx-auto col-6">View all applies <i class="fa fa-angle-down"></i></a></div>
						<!-- /.table -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-6 col-xs-12 -->
			</div>
			<!-- /.row -->		
		</div>
		<!-- /.main-content -->
	</div><!--/#wrapper -->
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		//####################################
		// jobs Applies
		//####################################
		var monthJobsApplies = {
			'items':[],
			'values':[],
		}
		var monthJobsAppliesDataURL = '/data/jobs_applies/json/'
		$.ajax({
			method:'GET',
			url:monthJobsAppliesDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var key = Object.keys(response[i])[0]
					var value = Object.values(response[i])[0]
					monthJobsApplies.items.push(key)
					monthJobsApplies.values.push(value)
				}
				console.log('monthJobsApplies:', monthJobsApplies)
				buildMonthJobsAppliesChart()

			}
		})
		function buildMonthJobsAppliesChart(){
			const ctx = document.getElementById('MonthJobsApplies');
			const Dashboard = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: monthJobsApplies.items,
			        datasets: [{
			            label: 'Applies',
			            data: monthJobsApplies.values,
			            backgroundColor: '#007bff',
			            borderColor: '#007bff',
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
			});
		}
		//####################################
		//####################################
		//####################################


		//####################################
		// New Users
		//####################################	

		var newUsers = {
			'items':[],
			'values':[],
		}
		var newUsersDataURL = '/data/new_users/json/'
		$.ajax({
			method:'GET',
			url:newUsersDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var key = Object.keys(response[i])[0]
					var value = Object.values(response[i])[0]
					newUsers.items.push(key)
					newUsers.values.push(value)
				}
				console.log('newUsers:', newUsers)
				buildNewUsersChart()

			}
		})
		function buildNewUsersChart(){
			const ctx2 = document.getElementById('NewUsers');
			const NewUsers = new Chart(ctx2, {
			    type: 'line',
			    data: {
			        labels: newUsers.items,
			        datasets: [{
			            label: 'Users',
			            data: newUsers.values,
			            backgroundColor: '#28a745',
			            borderColor: '#28a745',
			            borderWidth: 1.5
			        }]
			    },
			    options: {
			        scales: {
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
			});
		}


		//####################################
		//####################################
		//####################################


		//####################################
		// Nationalities
		//####################################	

		var nationalities = {
			'items':[],
			'values':[],
		}
		var nationalitiesDataURL = '/data/nationalities/json/'
		$.ajax({
			method:'GET',
			url:nationalitiesDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var key = Object.keys(response[i])[0]
					var value = Object.values(response[i])[0]
					nationalities.items.push(key)
					nationalities.values.push(value)
				}
				console.log('nationalities:', nationalities)
				buildNationalitiesChart()

			}
		})
		function buildNationalitiesChart(){
			const ctx3 = document.getElementById('Nationalities');
			const Nationalities = new Chart(ctx3, {
			    type: 'pie',
			    data: {
			        labels: nationalities.items,
			        datasets: [{
			            label: '',
			            data: nationalities.values,
			            backgroundColor: ['#dc3545', '#007bff', '#28a745', '#ffc107', '#17a2b8', '#343a40'],
			            borderColor: ['#dc3545', '#007bff', '#28a745', '#ffc107', '#17a2b8', '#343a40'],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
			});
		}

		//####################################
		//####################################
		//####################################


		//####################################
		// resumes
		//####################################	

		var resumes = {
			'items':[],
			'values':[],
		}
		var resumesDataURL = '/data/resumes/json/'
		$.ajax({
			method:'GET',
			url:resumesDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var key = Object.keys(response[i])[0]
					var value = Object.values(response[i])[0]
					resumes.items.push(key)
					resumes.values.push(value)
				}
				console.log('resumes:', resumes)
				buildResumesChart()

			}
		})
		function buildResumesChart(){
			const ctx4 = document.getElementById('InActiveClients');
			const InActiveClients = new Chart(ctx4, {
			    type: 'bar',
			    data: {
			        labels: resumes.items,
			        datasets: [{
			            label: 'Resumes',
			            data: resumes.values,
			            backgroundColor: '#dc3545',
			            borderColor: '#dc3545',
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            y: {
			                beginAtZero: true
			            }
			        }
			    }
			});

		}
		//####################################
		//####################################
		//####################################
	</script>
	<script type="text/javascript">
	var activeClients = {
		'values':[],
	}
	var activeClientsDataURL = '/data/active_clients/json/'
	$.ajax({
		method:'GET',
		url:activeClientsDataURL,
		success:function(response){
			console.log('RESPONSE:', response)
			for (var i in response){
				var value = Object.values(response[i])[0]
				activeClients.values.push(value)
			}
			console.log('activeClients:', activeClients)
			buildActiveClientsChart()

		}
	})
	function buildActiveClientsChart(){
		(function($) {
			"use strict";

			var Chart = {};

			$(document).ready(function(){
				Chart.traffic();
				return false;
			});


			Chart = {
				traffic: function(){
					
					$('#ActiveClients').sparkline(activeClients.values, {
						type: 'bar',
						height: '35',
						width: '80',
						barWidth: '5',
						barColor: '#00bf4f'
					});
					return false;
				},
			}
		})(jQuery);
	}
	</script>
	<script type="text/javascript">
		var jobsApplies = {
			'values':[],
		}
		var jobsAppliesDataURL = '/data/all_jobs_applies/json/'
		$.ajax({
			method:'GET',
			url:jobsAppliesDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var value = Object.values(response[i])[0]
					jobsApplies.values.push(value)
				}
				console.log('jobsApplies:', jobsApplies)
				buildJobsAppliesChart()

			}
		})
		function buildJobsAppliesChart(){
			(function($) {
				"use strict";

				var Chart = {};

				$(document).ready(function(){
					Chart.traffic();
					return false;
				});


				Chart = {
					traffic: function(){
						$('#JobsApplies').sparkline(jobsApplies.values, {
							type: 'bar',
							height: '35',
							width: '80',
							barWidth: '5',
							barColor: '#007bff'
						});
						return false;
					},
				}
			})(jQuery);
		}
	</script>

	<script type="text/javascript">
		var availableJobs = {
			'values':[],
		}
		var availableJobsDataURL = '/data/available_jobs/json/'
		$.ajax({
			method:'GET',
			url:availableJobsDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var value = Object.values(response[i])[0]
					availableJobs.values.push(value)
				}
				console.log('availableJobs:', availableJobs)
				buildAvailableJobsChart()

			}
		})
		function buildAvailableJobsChart(){
			(function($) {
				"use strict";

				var Chart = {};

				$(document).ready(function(){
					Chart.traffic();
					return false;
				});


				Chart = {
					traffic: function(){
						$('#AvailableJobs').sparkline(availableJobs.values, {
							type: 'bar',
							height: '35',
							width: '80',
							barWidth: '5',
							barColor: '#00bf4f'
						});
						return false;
					},
				}
			})(jQuery);
		}
	</script>

	<script type="text/javascript">
		var inactiveClients = {
			'values':[],
		}
		var inactiveClientsDataURL = '/data/inactive_clients/json/'
		$.ajax({
			method:'GET',
			url:inactiveClientsDataURL,
			success:function(response){
				console.log('RESPONSE:', response)
				for (var i in response){
					var value = Object.values(response[i])[0]
					inactiveClients.values.push(value)
				}
				console.log('inactiveClients:', inactiveClients)
				buildInactiveClientsChart()

			}
		})
		function buildInactiveClientsChart(){
			(function($) {
				"use strict";

				var Chart = {};

				$(document).ready(function(){
					Chart.traffic();
					return false;
				});


				Chart = {
					traffic: function(){
						$('#InactiveClients').sparkline(inactiveClients.values, {
							type: 'line',
							width: '80',
							height: '65',
							resize: true,
							lineColor:'#ff460b'
						});
						return false;
					},
				}
			})(jQuery);
		}
	</script>
{% endblock %}