{% extends 'home/en/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block style %}
	<style type="text/css">
		 .flex {
		     -webkit-box-flex: 1;
		     -ms-flex: 1 1 auto;
		     flex: 1 1 auto
		 }

		 @media (max-width:991.98px) {
		     .padding {
		         padding: 1.5rem
		     }
		 }

		 @media (max-width:767.98px) {
		     .padding {
		         padding: 1rem
		     }
		 }

		 .padding {
		     padding: 5rem
		 }

		 .pagination,
		 .jsgrid .jsgrid-pager {
		     display: flex;
		     padding-left: 0;
		     list-style: none;
		     border-radius: 0.25rem
		 }

		 .page-link {
		     color: black
		 }

		 .pagination.pagination-rounded-flat .page-item {
		     margin: 0 .25rem
		 }

		 .pagination-rounded-flat {}
	</style>
{% endblock %}


{% block content %}
	<section id="content">
		<div class="content-wrap">
			<div class="container clearfix">		
				<div class="">
					<div class="prj-header margin-bottom-30 mt-5">
						<form method="GET">
							<!-- /.result-count -->
							<div class="m-2">
								{{all_jobs_filter.form}}
							</div>
							<button class="btn btn-primary btn-submit-prj btn-sm waves-effect waves-light" type="submit">Filter Jobs</button><br><br>
							<div class="result-count">{{all_jobs.count}} Jobs</div>
						</form>
					</div>
					<div class="row">
						{% for job in all_jobs %}
						<div class="col-lg-12 col-12">
							<div class="fancy-title title-bottom-border">
								<h3>{{job.title}} <span>at</span> {{job.company.english_name}}</h3> 
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="">
										<label><strong>Title:</strong></label>
										<!-- /.col-xs-5 -->
										{{job.title}}
										<!-- /.col-xs-7 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="">
										<label><strong>Company Name:</strong></label>
										<!-- /.col-xs-5 -->
										{{job.company.english_name}}
										<!-- /.col-xs-7 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="">
										<label><strong>Specialization:</strong></label>
										<!-- /.col-xs-5 -->
										{{job.specialization}}
										<!-- /.col-xs-7 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="">
										<label><strong>Nationality:</strong></label>
										<!-- /.col-xs-5 -->
										{{job.nationality}}
										<!-- /.col-xs-7 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="">
										<label><strong>Salary:</strong></label>
										<!-- /.col-xs-5 -->
										{{job.salary|intcomma}} SR
										<!-- /.col-xs-7 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.col-md-6 -->
								<div class="col-md-6">
									<div class="">
										<label><strong>City:</strong></label>
										<!-- /.col-xs-5 -->
										{{job.city}}
										<!-- /.col-xs-7 -->
									</div>
									<!-- /.row -->
								</div>
								<!-- /.col-md-6 -->
								<br><br>
							</div>

							<div class="accordion accordion-bg clearfix">
								<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Description</div>
								<div class="acc_content clearfix">
									{{job.description}}
								</div>

								<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Requirements</div>
								<div class="acc_content clearfix">
									{{job.requirements}}
								</div>

								<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What we expect from you?</div>
								<div class="acc_content clearfix">
									{{job.what_we_expect_from_you}}
								</div>

								<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>What you've got?</div>
								<div class="acc_content clearfix">{{job.what_you_have_got}}</div>
							</div>

							<a href="{% url 'c_job_apply' job.job_id %}" class="button button-3d button-black nomargin">Apply Now</a>
							<a href="{% url 'public_job_details' job.job_id %}" class="button button-3d button-blue nomargin bg-primary">Show Details</a>

							<div class="divider divider-short"><i class="icon-star3"></i></div>
						</div>
						{% endfor %}
					</div>
					<nav>
                        <ul class="pagination d-flex justify-content-center flex-wrap pagination-rounded-flat pagination-success">
                        	{% if all_jobs.has_previous %}
                            	<li class="page-item"><a class="page-link" href="?page={{ all_jobs.previous_page_number }}" data-abc="true"><i class="fa fa-angle-left"></i>Previous</a></li>
                            	<!-- <li class="page-item"><a class="page-link" href="?page={{ all_jobs.previous_page_number }}" data-abc="true">{{ all_jobs.previous_page_number }}</a></li> -->
                            {% else %}
                            	<li class="page-item disabled"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-left"></i>Previous</a></li>
                            {% endif %}
                            <li class="page-item active"><a class="page-link" href="?page={{ all_jobs.number }}" data-abc="true">Page {{ all_jobs.number }} of {{ all_jobs.paginator.num_pages }}</a></li>
                            {% if all_jobs.has_next %}
                            	<!-- <li class="page-item"><a class="page-link" href="?page={{ all_jobs.next_page_number }}" data-abc="true">{{ all_jobs.next_page_number }}</a></li> -->
                            	<li class="page-item"><a class="page-link" href="?page={{ all_jobs.next_page_number }}" data-abc="true"><i class="fa fa-angle-right"></i>Next</a></li>
                            {% else %}
                            	<li class="page-item disabled"><a class="page-link" href="#" data-abc="true"><i class="fa fa-angle-right"></i>Next</a></li>
                            {% endif %}
                        </ul>
                    </nav>
				</div>

				<!-- <div class="col_two_fifth nobottommargin col_last">
					{% if user_logged_in.id != None %}
						
					{% else %}
						<div id="job-apply" class="heading-block highlight-me">
							<h2>Register Now</h2>
							<span>And apply to your first job.</span>
						</div>
						<div></div>
						<div class="form-widget">
							<div class="form-result"></div>
							<form id="template-jobform" name="template-jobform" method="POST">
						        {% csrf_token %}
						        {{register_form|crispy}}
						        <a href="{% url 'login' %}">I already have an account</a><br><br>
						        <div class="form-button">
						            <button id="submit" type="submit" class="btn btn-primary">Register</button>
						        </div>
						    </form>
						</div>
					{% endif %}
				</div> -->
			</div>
		</div>
	</section><!-- #content end -->
{% endblock %}

{% block script %}
	<script src="/path/to/lib/jquery.waypoints.min.js"></script>
	<script src="/path/to/shortcuts/infinite.min.js"></script>

	<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {
        
    },
    offset: 'bottom-in-view',
    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }
    
        
    });

    </script>
{% endblock %}