{% extends 'employer/en/index.html' %}
{% load static %}


{% block style %}
	<!-- Data Tables -->
	<link rel="stylesheet" href="{% static '/staff/plugin/datatables/media/css/dataTables.bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/staff/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static '/staff/plugin/RWD-table-pattern/css/rwd-table.min.css' %}">

	<!-- bootstrap-select -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}


{% block content %}
	<div id="wrapper">
		<div class="main-content">
			<div class="row small-spacing">
				<div class="col-md">
					<div class="card card-body">
						<label style="font-size: 30px;" class="control-label mt-5 mx-5">Ended Phone Interviews</label>
						<div class="m-2">
							  <form method="GET">
							  		<div class="row">
									  	<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.how_heared_about_job.label}}</label>
									  		{{all_ended_interviews_filter.form.how_heared_about_job}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.hear_speak_problem.label}}</label>
									  		{{all_ended_interviews_filter.form.hear_speak_problem}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.want_to_work.label}}</label>
									  		{{all_ended_interviews_filter.form.want_to_work}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.live_in_riyadh.label}}</label>
									  		{{all_ended_interviews_filter.form.live_in_riyadh}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.have_transportation.label}}</label>
									  		{{all_ended_interviews_filter.form.have_transportation}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">Call Behavior</label>
									  		{{all_ended_interviews_filter.form.cal_behavior}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.future_goal.label}}</label>
									  		{{all_ended_interviews_filter.form.future_goal}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.why_this_job.label}}</label>
									  		{{all_ended_interviews_filter.form.why_this_job}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.saudi_driving_license.label}}</label>
									  		{{all_ended_interviews_filter.form.saudi_driving_license}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.has_health_condition.label}}</label>
									  		{{all_ended_interviews_filter.form.has_health_condition}}
										</div>
										<div class="form-group col-sm-6 col-md-3">
									  		<label for="specialization">{{all_ended_interviews_filter.form.result.label}}</label>
									  		{{all_ended_interviews_filter.form.result}}
										</div>
									</div>
							    <button class="btn btn-primary" type="submit">Search</button>
							  </form>
						</div>
						<div class="table-responsive" data-pattern="priority-columns">
							<table id="tech-companies-1" class="table table-small-font table-bordered table-striped">
								<thead>
									<tr>
										<th data-priority="6">ID</th>
									    <th data-priority="1">Full Name</th>
									    <th data-priority="1">Suited Job</th>
									    <th data-priority="2">Position</th>
									    <th data-priority="1">Result</th>
									    <th data-priority="3">call behavior</th>
									    <th data-priority="4">Interview Date</th>
									    <th data-priority="5">Latest Update</th>
									    <th data-priority="6">Update</th>
									</tr>
								</thead>
								<tbody>
									{% for interview in all_ended_interviews %}
									<tr>
										<td>{{interview.client_id}}</td>
										<th><a class="text-dark" href="{% url 'active_client_profile' interview.client.id %}">{{interview.client.client_cv.first_name}} {{interview.client.client_cv.last_name}}</a></th>
										<th>{{interview.suited_job}}</th>
										<td>{{interview.position}}</td>
										<td>{{interview.result}}</td>
										<td>{{interview.call_behavior}}</td>
										<td>{{interview.interview_date}}</td>
										<td>{{interview.latest_update}}</td>
										<td><a class="text-info" href="{% url 'phone_interview' interview.client.id %}"><b>update</b></a></td>
									</tr>
									{% endfor %}
								</tbody>

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
	<!-- Data Tables -->
	<script src="{% static '/staff/plugin/datatables/media/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static '/staff/plugin/datatables/media/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static '/staff/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static '/staff/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js' %}"></script>
	<script src="{% static '/staff/scripts/datatables.demo.min.js' %}"></script>
	<script src="{% static '/staff/plugin/RWD-table-pattern/js/rwd-table.min.js' %}"></script>
	<script src="{% static '/staff/scripts/rwd.demo.min.js' %}"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
{% endblock %}